<div class="block" id="block-login">
	<h2><%= "#{I18n.t('title')} - #{I18n.t('admin.login').capitalize}" %></h2>
  <div class="content login">
		<% if flash[:error] %>
    	<div class="flash">
	      <div class="message error">
	        <p><%= flash[:error] %></p>
	      </div>
	    </div>
		<% end %>
		<%= form_for :session, :url => admin_sessions_path, :html => {:class => "form login"} do |f| %>
			<div class="group wat-cf">
				<div class="left">
					<%= f.label :email, :class => "label right" %>
		    </div>
		    <div class="right">
			    <%= f.text_field :email, :class => "text_field" %>
		    </div>
		  </div>
			<div class="group wat-cf">
		    <div class="left">
					<%= f.label :password, :class => "label right" %>
		    </div>
		    <div class="right">
					<%= f.password_field :password, :class => "text_field" %>
		    </div>
		  </div>
			<div class="group navform wat-cf">
		    <div class="right">
		      <button class="button" type="submit">
		        <img src="images/icons/key.png" alt="Save"> <%= I18n.t("admin.login") %>
		      </button>
		    </div>
		  </div>
		<% end %>
  </div>
</div>