<div id="stylized" class="booking_form">
	<h1>Reserva su mesa</h1>
	<p>Seleccione una fecha y una hora, y no olvide rellenar el resto de campos marcados con un *</p>
	<%= form_for @booking, :as => :booking, :url => booking_index_path, :method => :post do |b| %>
		<%= render "shared/errors", :target => @booking %>
		<!-- booking date -->
		<div id="booking_calendar" type="text"></div>
		<%= b.hidden_field :date %>
		<!-- booking time -->
		<%= b.label :time, "#{ Booking.human_attribute_name :time } *" %>
		<span class="select">
		<%= b.time_select :time, :minute_step => 15 %>
		</span>
		<!-- booking people -->
		<%= b.label :people_number, "#{ Booking.human_attribute_name :people_number }*" %>
		<span class="select">
			<%= b.select :people_number, 2..10 %>
		</span>
		<!-- client name-->
		<%= b.label :name, "#{Booking.human_attribute_name :name} *" %>
		<%= b.text_field :name %>
		<%#= b.error_messages_on :name %>
		<!-- surname1 -->
		<%= b.label :surname1, "#{ Booking.human_attribute_name :surname1 } *" %>
		<%= b.text_field :surname1 %>
		<!-- surname2 -->
		<%= b.label :surname2, Booking.human_attribute_name( :surname2 ) %>
		<%= b.text_field :surname2 %>
		<!-- phone -->
		<%= b.label :phone, "#{Booking.human_attribute_name :phone} *" %>
		<%= b.text_field :phone %>
		<!-- email -->
		<%= b.label :email, "#{ Booking.human_attribute_name :email } *" %>
		<%= b.text_field :email %>
		<button type="submit">Reservar</button>
		<div class="spacer"></div>
	<% end %>
</div>