<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Ca Quintín</title>
  <%= stylesheet_link_tag "computer" %>
	<%= yield :stylesheets_links %>
  <%= csrf_meta_tag %>
	<%= javascript_include_tag 'application' %>
	<%= yield :javascripts_links %>
</head>
<body>
	<!-- HEADER -->
	<header>
		<div class="container_12">
			<h1 class="grid_3 suffix_1">
					Ca Quintín
					<span>Restaurant</span>
			</h1>
			<nav class="grid_8">
				<ul>
					<li>
						<%= link_to 'Home' , root_path, class: ('active' if WelcomeController.name.underscore.start_with? params[:controller]) %>
					</li>
					<li>
						<%= link_to (I18n.t "menu.cuisine").capitalize , '#', class: ('active' if CuisineController.name.underscore.start_with? params[:controller]) %>
					</li>
					<li>
						<%= link_to (I18n.t "menu.bookings").capitalize, '#', class: ('active' if BookingController.name.underscore.start_with? params[:controller]) %>
					</li>
					<li>
						<%= link_to (I18n.t "menu.map").capitalize, '#', class: ('active' if MapController.name.underscore.start_with? params[:controller]) %>
					</li>
					<li>
						<%= link_to (I18n.t "menu.about").capitalize, '#', class: ('active' if AboutController.name.underscore.start_with? params[:controller]) %>
					</li>
					<li>
						<%= link_to (I18n.t "menu.contact").capitalize, '#', class: ('active' if ContactController.name.underscore.start_with? params[:controller])	 %>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="wrapper" class="container_12">
	  <% flash.each do |type, message| -%>
			<div class="flash prefix_2 grid_8 suffix_2">
	      <div class="message <%= type %>">
	        <p><%= message %></p>
	      </div>
	  	</div>
			<div class="clear"></div>
		<% end %>
		
		<%= content_for?(:content) ? yield(:content) : yield %>
		<%= yield :sidebar %>
  </div>
	
	<div class="container_12">
		<footer class="grid_12">
				<p class="copyright">&copy; CaQuintin | tots el drets reservats</p>
		</footer>
	</div>
</body>
</html>
