<% content_for :stylesheets_links do %>
  <%= stylesheet_link_tag 'cuisine' %>
<% end %>

<% content_for :javascripts_links do %>
<% end %>

<% content_for :content do %>
  <div class="prefix_2 grid_8 suffix_2">
    <ul class="submenu">
      <li><%= link_to t('cuisine.starters').capitalize, '#' %></li>
      <li><%= link_to t('cuisine.salads').capitalize, '#' %></li>
      <li><%= link_to t('cuisine.meat').capitalize, '#' %></li>
      <li><%= link_to t('cuisine.fishes').capitalize, '#' %></li>
      <li><%= link_to t('cuisine.rices').capitalize, '#' %></li>
      <li><%= link_to t('cuisine.desserts').capitalize, '#' %></li>
    </ul>
  </div>

  <div class="clear"></div>
  <%= content_for?(:cuisine_content) ? yield(:cuisine_content) : yield %>
<% end %>

<%= render template: 'layouts/application' %>